@{
	ViewData["Title"] = "View Survey Results";
}

<div class="">

	<div class="header">
		<h1>Survey Results</h1>
	</div>

	<div class="space-between">
		<div>
			<p>Total number of surveys :</p>
			<p>Average Age :</p>
			<p>Oldest person who participated in survey :</p>
			<p>Youngest person who participated in survey :</p>
		</div>
		<div>
			<p>#surveys</p>
			<p>#average age</p>
			<p>#max age</p>
			<p>#min age</p>
		</div>
	</div>

	<div class="space-between">
		<div>
			<p>Percentage of people who like Pizza :</p>
			<p>Percentage of people who like Pasta :</p>
			<p>Percentage of people who like Pap and Wors :</p>
		</div>
		<div>
			<p># % Pizza</p>
			<p># % Pizza</p>
			<p># % Pizza</p>
		</div>
	</div>

	<div class="space-between-last">
		<div>
			<p>People who like to watch movies :</p>
			<p>People who like to listen to radio :</p>
			<p>People who like to eat out :</p>
			<p>People who like to watch TV :</p>
		</div>
		<div>
			<p>#average of rating</p>
			<p>#average of rating</p>
			<p>#average of rating</p>
			<p>#average of rating</p>
		</div>
	</div>
</div>

<style>

	/* SPACING */
	.space-between {
		display: flex;
		gap: 50%;
		margin-bottom: 50px;
	}

	.space-between-last {
		display: flex;
		gap: 56%;
		margin-bottom: 50px;
	}

	.header {
		text-align: center;
		margin-bottom: 60px;
	}
</style>
