@model Survey

@{
	ViewData["Title"] = "Fill Out Survey";
}

@using (Html.BeginForm(actionName: "Index", controllerName: "Home", method: FormMethod.Post))
{
	<div class="space-between-personal">
		<p>
			Personal Details:
		</p>

		<div class="personal-inputs">
			<div>
				<label>Full Names</label>
				<input type="text" asp-for="FullNames" required />
				<span asp-validation-for="FullNames"></span>
			</div>
			<div>
				<label>Email</label>
				<input type="email" asp-for="EmailAddress" required />
				<span asp-validation-for="EmailAddress"></span>
			</div>
			<div>
				<label>Date of Birth</label>
				<input type="date" max="2145-12-31" asp-for="DOB" required />
				<span asp-validation-for="DOB"></span>
			</div>
			<div>
				<label>Contact Number</label>
				<input type="text" asp-for="ContactNumber" required />
				<span asp-validation-for="ContactNumber"></span>
			</div>
		</div>
	</div>

	<div class="space-between-food">
		<p>
			What is your favourite food?
		</p>

		<div class="space-between">
			<div>
				<label><input type="checkbox" name="pizza" asp-for="FavouriteFood" /> Pizza</label>
			</div>
			<div>
				<label><input type="checkbox" name="pasta" asp-for="FavouriteFood" /> Pasta</label>
			</div>
			<div>
				<label><input type="checkbox" name="pap and wors" asp-for="FavouriteFood" /> Pap and Wors</label>
			</div>
			<div>
				<label><input type="checkbox" name="other" asp-for="FavouriteFood" /> Other</label>
			</div>
		</div>
	</div>

	<div class="space-between-table">
		<p>Please rate your level of agreement on a scale from 1 to 5, with 1 being "strongly agree" and 5 being "strongly disagree."</p>
		<div>
			<table>
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">Strongly Agree</th>
						<th scope="col">Agree</th>
						<th scope="col">Neutral</th>
						<th scope="col">Disagree</th>
						<th scope="col">Strongly Disagree</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">I like to watch movies</th>
						<td><input type="radio" name="movie" value="1" asp-for="ScaleMovie" /></td>
						<td><input type="radio" name="movie" value="2" asp-for="ScaleMovie" /></td>
						<td><input type="radio" name="movie" value="3" asp-for="ScaleMovie" /></td>
						<td><input type="radio" name="movie" value="4" asp-for="ScaleMovie" /></td>
						<td><input type="radio" name="movie" value="5" asp-for="ScaleMovie" /></td>
					</tr>
					<tr>
						<th scope="row">I like to listen to radio</th>
						<td><input type="radio" name="radio-station" value="1" asp-for="ScaleRadio" /></td>
						<td><input type="radio" name="radio-station" value="2" asp-for="ScaleRadio" /></td>
						<td><input type="radio" name="radio-station" value="3" asp-for="ScaleRadio" /></td>
						<td><input type="radio" name="radio-station" value="4" asp-for="ScaleRadio" /></td>
						<td><input type="radio" name="radio-station" value="5" asp-for="ScaleRadio" /></td>
					</tr>
					<tr>
						<th scope="row">I like to eat out</th>
						<td><input type="radio" name="eat-out" value="1" asp-for="ScaleEatOut" /></td>
						<td><input type="radio" name="eat-out" value="2" asp-for="ScaleEatOut" /></td>
						<td><input type="radio" name="eat-out" value="3" asp-for="ScaleEatOut" /></td>
						<td><input type="radio" name="eat-out" value="4" asp-for="ScaleEatOut" /></td>
						<td><input type="radio" name="eat-out" value="5" asp-for="ScaleEatOut" /></td>
					</tr>
					<tr>
						<th scope="row">I like to watch TV</th>
						<td><input type="radio" name="tv" value="1" asp-for="ScaleTV" /></td>
						<td><input type="radio" name="tv" value="2" asp-for="ScaleTV" /></td>
						<td><input type="radio" name="tv" value="3" asp-for="ScaleTV" /></td>
						<td><input type="radio" name="tv" value="4" asp-for="ScaleTV" /></td>
						<td><input type="radio" name="tv" value="5" asp-for="ScaleTV" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="submit-button">
		<button class="btn btn-success" type="submit">Submit</button>
	</div>
}

<style>

	/* SPACING */
	.space-between-personal {
		display: flex;
		gap: 20%;
		margin-bottom: 50px;
	}

	.space-between-food {
		display: flex;
		gap: 10%;
		margin-bottom: 50px;
	}

	.space-between-table {
		margin-bottom: 50px;
	}

	.space-between {
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}

	.submit-button {
		text-align: center
	}

	/* LABELS */
	.space-between-personal label {
		display: block; /* Makes the label take its own line */
		margin-bottom: 2px; /* Space between the label and the input */
	}

	.personal-inputs div {
		margin-bottom: 2px;
	}

	.personal-inputs input {
		width: 200px;
	}


	/* TABLE STYLING */
	table {
		border-collapse: collapse;
		border: 2px solid rgb(140 140 140);
		font-family: sans-serif;
		font-size: 0.8rem;
		letter-spacing: 1px;
		width: 80%;
	}

	th,
	td {
		border: 1px solid rgb(160 160 160);
		padding: 8px 10px;
	}

	thead tr th {
		text-align: center;
	}

	tbody tr td {
		text-align: center;
	}
</style>
